html{
    height: 100%;
    background: #f8f9fa;
}

body{
    margin-top: 100px;
    position: relative;
    padding-bottom: 3rem;
    min-height: 100%;
}
.huge{
    font-size:40px;
}

.tag-boxes .panel-primary{
    /*    border:1px solid #2FA4E7;*/
    padding-left: 10px; 
    padding-top: 20px;
}

.tag-boxes .panel-green{
    padding-left: 10px;
    padding-top: 20px;
}

.tag-boxes .panel-green a{
    color:#5cb85c;
}

.tag-boxes .panel-green a:hover{
    color: #3D8B3D;
}


.tag-boxes .panel-yellow{
    /*    border: 1px solid #DF8A13;*/
    padding-left: 10px;
    padding-top: 20px;
}

.tag-boxes .panel-yellow a{
    color: #DF8A13;
}

.tag-boxes .panel-yellow a:hover{
    color: #f0ad4e; 
}

.tag-boxes .panel-red{
    /*    border: 1px solid #d9534f;*/
    padding-left: 10px;
    padding-top: 20px;
}

.tag-boxes .panel-red a{
    color:#d9534f;
}

.tag-boxes .panel-red a:hover{
    color: #B52B27;
}

    .body-section{
        padding-bottom: 70px;
    }


footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}